<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty Characters</title>
    <link rel="stylesheet" href="https://snipp.ru/cdn/bootstrap/4.3/bootstrap.min.css">
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/1390/PNG/512/morty_96215.png">
    <style>
        .pages-control {
            width: 220px;
            margin: 0 auto;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-left: 60px;
        }

        .pages-control {
            margin-top: 25px;
            margin-bottom: 10px;
            font-size: 150%;
        }

        .page-item {
            font-style: oblique;
        }

        a { color: coral; }
    </style>
</head>
<body>
<div class="pages-control">
    <label for="pages" style="font-weight: bold">Choose page: </label>
    <select id="pages" onchange="window.location.href = this.options[this.selectedIndex].value">
        <option th:each="page : ${#numbers.sequence(1, pagesNum)}" class="page-item" th:value="@{/rickandmorty/view/{page}(page=${page})}"
                th:text="${page}" th:selected="${page==pageCurrent}"></option>
    </select>
</div>
<section class="characters-control">
    <div class="characters">
        <div class="grid-container">
            <article th:each="character : ${characters}">
                <div class="image">
                    <img th:src="${character.image}" th:alt="${character.name}">
                </div>
                <div class="info-about-character">
                    <div class="section">
                        <a th:href="@{/rickandmorty/api/character/{id}(id=${character.id})}" rel="noopener noreferrer"
                           target="_blank">
                            <h2 th:text="${character.name}"></h2>
                        </a>
                        <span th:if="${character.status} == 'Alive'" th:text="${character.status}"
                              class="badge text-white" style="background-color: forestgreen"></span>
                        <span th:if="${character.status} == 'unknown'" th:text="Unknown" class="badge text-white"
                              style="background-color: dimgray"></span>
                        <span th:if="${character.status} == 'Dead'" th:text="${character.status}"
                              class="badge text-white" style="background-color: firebrick"></span>
                        <br>
                        <b>Species: </b>
                        <br>
                        <p th:text="${character.species}"></p>
                        <b>Last known location: </b>
                        <p th:text="${character.characterInfo.location.name}"></p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
</body>
</html>